
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body{
    background-color: rgb(17, 16, 16);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    background-color: rgba(28, 128, 0, 0.819);
    color: white;
    padding: .5rem 2.5rem;
    border-radius: .2rem;
    margin-top: 8rem;
    letter-spacing: .1rem;
    width: 40%;
    text-align: center;
}

textarea{
    border-radius: none;
    outline: none;
    border: none;
    padding: 1rem;
    margin: 1rem 0;
    resize: none;
    width: 40%;
    height: 40%;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
    border-radius: .2rem;
    color: purple;
}

p{
    display: inline-block;
    margin: 1rem;
}
.count{
    font-size: 1.8rem;
    text-align: left;
    font-weight: 600;
    color: purple;
}

p span{
    font-size: 2rem;
}


